<ul class="w-full flex flex-col lg:flex-row gap-4 justify-between items-center text-3xl lg:text-lg font-light" data-controller="stagger" data-stagger-interval-value="250">
  <li><%= link_to 'About', '#about-me', class: 'hover:text-gray-400 opacity-0 translate-y-2', data: { stagger_target: "item" } %></li>
  <li><%= link_to 'Skills', '#skills', class: 'hover:text-gray-400 opacity-0 translate-y-2', data: { stagger_target: "item" } %></li>
  <li><%= link_to 'Projects', '#projects', class: 'hover:text-gray-400 opacity-0 translate-y-2', data: { stagger_target: "item" } %></li>
  <li><%= link_to 'Contact', '#contact', class: 'hover:text-gray-400 opacity-0 translate-y-2', data: { stagger_target: "item" } %></li>
</ul>
