<ul class="w-full flex flex-col lg:flex-row gap-4 justify-between items-center text-3xl lg:text-lg font-light">
  <li><%= link_to 'About', '#about-me', class: 'hover:text-gray-400' %></li>
  <li><%= link_to 'Skills', '#skills', class: 'hover:text-gray-400' %></li>
  <li><%= link_to 'Projects', '#projects', class: 'hover:text-gray-400' %></li>
  <li><%= link_to 'Contact', '#contact', class: 'hover:text-gray-400' %></li>
</ul>
